.url {
  font-weight: bold;
  color: #70b0eb;
  text-decoration: underline;
  cursor: pointer;
}
.url:hover {
  font-weight: bold;
  color: #e15a28;
  text-decoration: underline;
}

#contents p.error {
  color: red;
  padding: 5px 0;
}

.splice {
  cursor: pointer;
}

.btn {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;

  font-size: 130%;
  color: #fff;

  background: #5876a3;
  border: 1px solid #5876a3;
  padding: 5px 20px;

  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 5px 5px 5px #a1a3a6;
}
.btn:hover {
  background: #dd6b3d;
  border: 1px solid #333;
  /* background: #5876a3; */
  color: #fff;
  box-shadow: none;
  box-shadow: 2px 2px 5px #a1a3a6;
}
.btn:disabled:hover {
  background: #5876a3;
  border: 1px solid #5876a3;
  box-shadow: 5px 5px 5px #a1a3a6;
}

.btn-big {
  padding: 10px 30px;
}
.btn-s {
  font-size: 90%;
}
.btn-sch {
  box-shadow: none;
}
.btn-disa {
  box-shadow: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn-x {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;

  font-size: 100%;
  font-weight: bold;
  color: #fff;
  background: #5876a3;

  width: 36px;
  border: 1px solid #000;

  text-decoration: none;
  /* border-radius: 100%; */
  transition: 0.3s;
  margin-left: auto;
}
.btn-x:hover {
  background: #dd6b3d;
}

/* edit app.css */
.btn-info {
  color: #fff;
}

/* button design */
.btn-orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}

.btn-orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}

.btn-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #668ad8; /*左線*/
  color: #668ad8; /*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* app.cssの上書き */
.page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}

/* inputエリア */
.simpleForm {
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  text-align: center;
}

.noneForm {
  background: none;
  border: none;
  text-align: center;
}

select {
  /* -webkit-appearance: none; */
  height: 36px;
  outline: none;
  padding-left: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.photo {
  max-width: 200px;
  /* max-height: 300px; */
  vertical-align: middle;
  margin: 10px 5px;
}

/* ここからcssの上書き */
/* style */

/* bootstrap */
/* bs：5832 */
.close {
  float: initial;
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  text-shadow: initial;
  opacity: initial;

  color: #fff;
}

/* bs：5847 */
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: initial;
}

/* ulを指定して編集を削除：bs38 */
ul.ddmenu,
ul.ddmenu::before,
ul.ddmenu::after {
  /* ul::after { */
  box-sizing: initial;
}

label {
  margin-bottom: 0;
}
